* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
}

.heading {
    font-size: 30px;
    color: rgb(0, 73, 138);
}

.paragraph {
    width: min(500px, 95%);
    height: 50vh;
    font-size: 20px;
    text-align: justify;
}

.scriptures {
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    padding: 0;
}

.next {
    width: 50px;
    height: 40px;
    position: relative;
    bottom: 0px;
    left: 1000px;
    border: 1px solid rgb(153, 165, 175);
}

.back {
    width: 50px;
    height: 40px;
    position: relative;
    bottom: 40px;
    left: 122px;
    border: 1px solid rgb(153, 165, 175);
}